<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:fragment="managerPage(activeTab)">

<head th:replace="layouts/common-header :: main(~{::title}, ~{}, ~{::link})">
    <title>Manager Dashboad</title>
    <link th:href="@{/css/userDashboard.css}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/manager" th:text="'Welcome, Manager!'"></a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">
                Sign out
                <span data-feather="log-out"></span>
            </a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column" id="mainTab">
                    <li class="nav-item">
                        <a class="nav-link" href="/manager" th:classappend="${activeTab=='Dashboard'} ? active : ''">
                            <span data-feather="home"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manager/org-registration-application" th:classappend="${activeTab=='Organization Registration Applications'} ? active : ''">
                            <span data-feather="file-text"></span>
                            Organization Registration Applications
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manager/org-info-change-application" th:classappend="${activeTab=='Organization Information Change Applications'} ? active : ''">
                            <span data-feather="file-plus"></span>
                            Organization Information Change Applications
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manager/payment" th:classappend="${activeTab=='Payment'} ? active : ''">
                            <span data-feather="package"></span>
                            Payment
                        </a>
                    </li>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Statistics</span>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="/manager/organization-statistics" th:classappend="${activeTab=='Organization Statistics'} ? active : ''">
                            <span data-feather="users"></span>
                            Organization Statistics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manager/user-statistics" th:classappend="${activeTab=='User Statistics'} ? active : ''">
                            <span data-feather="user"></span>
                            User Statistics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manager/financial-statistics" th:classappend="${activeTab=='Financial Statistics'} ? active : ''">
                            <span data-feather="dollar-sign"></span>
                            Financial Statistics
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
                <span th:text="${successMessage}">Success message!</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:text="${errorMessage}">Error Message!</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div th:if="${warningMessage}" class="alert alert-warning alert-dismissible fade show" role="alert">
                <span th:text="${warningMessage}">Warning message!</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="tab-content">
                <div th:insert="~{this :: content}" class="tab-pane active" role="tabpanel"></div>
            </div>
        </main>
    </div>
</div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>
</body>
</html>