<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:fragment="orgPage(activeTab)">

<head th:replace="layouts/common-header :: main(~{::title}, ~{::script}, ~{::link})">
    <title>Organization Dashboad</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/userDashboard.css}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/org" th:text="'Welcome, '+${org.name}+'!'"></a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">
                Sign out
                <span data-feather="log-out"></span>
            </a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column" id="mainTab">
                    <li class="nav-item">
                        <a class="nav-link" href="/org" th:classappend="${activeTab=='Dashboard'} ? active : ''">
                            <span data-feather="home"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/org/info" th:classappend="${activeTab=='Organization Information'} ? active : ''">
                            <span data-feather="users"></span>
                            Organization Information
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/org/course" th:classappend="${activeTab=='Release Courses'} ? active : ''">
                            <span data-feather="book"></span>
                            Release Courses
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/org/payment" th:classappend="${activeTab=='Payment'} ? active : ''">
                            <span data-feather="check-circle"></span>
                            Payment
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/org/grades" th:classappend="${activeTab=='Grades Record'} ? active : ''">
                            <span data-feather="award"></span>
                            Grades Record
                        </a>
                    </li>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Statistics</span>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="/org/order-statistics" th:classappend="${activeTab=='Order Statistics'} ? active : ''">
                            <span data-feather="shopping-cart"></span>
                            Order Statistics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/org/financial-statistics" th:classappend="${activeTab=='Financial Statistics'} ? active : ''">
                            <span data-feather="dollar-sign"></span>
                            Financial Statistics
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
                <span th:text="${successMessage}">Success message!</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:text="${errorMessage}">Error Message!</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div th:if="${warningMessage}" class="alert alert-warning alert-dismissible fade show" role="alert">
                <span th:text="${warningMessage}">Warning message!</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="tab-content">
                <div th:insert="~{this :: content}" class="tab-pane active" role="tabpanel"></div>
            </div>
        </main>
    </div>
</div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>
</body>
</html>