<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:include="layouts/org :: orgPage('Financial Statistics')">

<div th:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Financial Statistics</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover text-center">
            <thead>
            <tr>
                <th>Total Order Amount</th>
                <th>Unpaid Amount (By Online Education Platform)</th>
            </tr>
            </thead>
            <tbody class="perfect-center">
            <tr>
                <td th:text="${totalOrderAmount}"></td>
                <td th:text="${unpaidAmount}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</html>