<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:include="layouts/user :: userPage('Orders')">
<div th:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">My Orders</h1>
    </div>

    <div class="table-responsive" th:if="${orderList.isEmpty()==false}">
        <table id="order_table" class="table table-striped table-sm table-hover text-center">
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Organization Name</th>
                <th>Course Name</th>
                <th>Student Number</th>
                <th>Actual Price</th>
                <th>Create Time</th>
                <th>Order Status</th>
            </tr>
            </thead>
            <tbody class="clickable-tbody perfect-center">
            <tr th:each="order : ${orderList}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.getOrganization().getName()}"></td>
                <td th:text="${order.getCourse().getName()}"></td>
                <td th:text="${order.studentNumber}"></td>
                <td th:text="${order.actualPrice}"></td>
                <td th:text="${order.getCreateDate()}"></td>
                <td th:text="${order.getStatus()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('#order_table').find('> tbody > tr').click(function (e) {
                e.preventDefault();
                let orderId = $(this)[0].children[0].innerText;
                window.location.href = "/user/order/" + orderId;
            });
        });
    </script>

    <div th:if="${orderList.isEmpty()==true}" class="alert alert-warning alert-dismissible fade show" role="alert">
        <span>You don't have any orders right now! Go to course market and get some!</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
</html>