<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:include="layouts/user :: userPage('Privilege')">

<div th:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Privilege</h1>
    </div>

    <div th:if="${user.isVip()==true}" class="container">
        <div class="alert alert-info text-center" role="alert">
            As a VIP of our platform, you can enjoy additional discounts when placing an order. Our standards are listed below.
        </div>

        <div th:text="'Your current expenditure is ' + ${user.expenditure} + ' USD.'" class="alert alert-info text-center" role="alert"></div>

        <div class="table-responsive">
            <table id="course_table" class="table table-striped table-sm table-hover text-center">
                <thead>
                <tr>
                    <th>Expenditure Range</th>
                    <th>Discount</th>
                </tr>
                </thead>
                <tbody class="clickable-tbody perfect-center">
                <tr>
                    <td>0 ~ 100 USD</td>
                    <td>0% OFF</td>
                </tr>
                <tr>
                    <td>100 ~ 300 USD</td>
                    <td>10% OFF</td>
                </tr>
                <tr>
                    <td>300 ~ 500 USD</td>
                    <td>20% OFF</td>
                </tr>
                <tr>
                    <td>500 USD ~ </td>
                    <td>40% OFF</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:if="${user.isVip()==false}" class="container">
        <div class="alert alert-danger" role="alert">
            You are not in any membership currently! As a result, you don't have any previleges!
        </div>
    </div>
</div>

</html>