<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{favicon.ico}">

    <title>User Login Page</title>

    <!--JQuery and Proper-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link th:href="@{css/signInStyle.css}" rel="stylesheet">
</head>

<body>
<form class="form-user" id="signinForm" autocomplete="on" th:action="@{/login}"
      th:object="${user}" method="post" role="form" data-toggle="validator">
    <div class="text-center mb-4">
        <!--suppress RequiredAttributes -->
        <img class="mb-4" th:src="@{image/logo.png}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">User Login</h1>
        <p>Your best choice of online education.<br> If this page does not show normally, please use the <b>latest
            Chrome, Safari, and Firefox web browser</b>.</p>
    </div>

    <!--/*@thymesVar id="normalErrorMessage" type="templates"*/-->
    <div th:if="${normalErrorMessage}"
         class="alert alert-danger" role="alert"
         th:text="${normalErrorMessage}"></div>

    <div class="form-label-group">
        <input type="email" th:field="*{email}" id="inputEmail" class="form-control" placeholder="Email address"
               required autofocus>
        <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
        <input type="password" th:field="*{password}" id="inputPassword" class="form-control" placeholder="Password"
               required>
        <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="m-t text-muted text-center">
        Don't have an account? <a href="/register">Register Now</a>
    </p>
</form>
</body>
</html>