<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{favicon.ico}">

    <title>User Registeration Page</title>

    <!--JQuery and Proper-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>

<body>
<form class="form-user" id="registerForm" autocomplete="off" th:action="@{/register}"
      th:object="${user}" method="post" role="form"
      data-toggle="validator">

    <div class="text-center mb-4">
        <!--suppress RequiredAttributes -->
        <img class="mb-4" th:src="@{image/logo.png}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">User Registeration</h1>
        <p>Your best choice of online education.<br> If this page does not show normally, please use the <b>latest
            Chrome, Safari, and Firefox web browser</b>.</p>
    </div>

    <div th:if="${normalErrorMessage}"
         class="alert alert-danger" role="alert"
         th:text="${normalErrorMessage}"></div>

    <div th:if="${confirmationMessage}" class="alert alert-success"
         role="alert" th:text="${confirmationMessage}"></div>

    <div th:if="${alreadyRegisteredMessage}"
         class="alert alert-danger" role="alert"
         th:text="${alreadyRegisteredMessage}"></div>

    <div th:if="${#fields.hasErrors('nickname')}"
         th:errors="*{nickname}"
         class="validation-message alert alert-danger" role="alert"></div>

    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
         class="validation-message alert alert-danger" role="alert"></div>

    <div th:if="${#fields.hasErrors('password')}"
         th:errors="*{password}"
         class="validation-message alert alert-danger" role="alert"></div>

    <div class="form-label-group">
        <input type="text" th:field="*{nickname}" id="inputNickname" class="form-control" placeholder="Nickname"
               required autofocus>
        <label for="inputNickname">Nickname</label>
    </div>

    <div class="form-label-group">
        <input type="email" th:field="*{email}" id="inputEmail" class="form-control" placeholder="Email Address"
               data-error="This email address is invalid" required>
        <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
        <input type="password" th:field="*{password}" id="inputPassword" class="form-control" placeholder="Password"
               data-error="This password is invalid." required>
        <label for="inputPassword">Password</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
        <label for="inputConfirmPassword">Confirm Password</label>
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
    <p class="m-t text-muted text-center">
        Already have an account? <a href="/login">Login Directly</a>
    </p>
</form>

<script type="text/javascript">
    var password = document.getElementById("inputPassword");
    var confirm_password = document.getElementById("inputConfirmPassword");

    function validatePassword() {
        if (password.value !== confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match.");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

</body>

</html>
